--
-- PostgreSQL database dump
--

-- Dumped from database version 13.20 (Debian 13.20-1.pgdg120+1)
-- Dumped by pg_dump version 13.20 (Debian 13.20-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: notify_messenger_messages(); Type: FUNCTION; Schema: public; Owner: symfony
--

CREATE FUNCTION public.notify_messenger_messages() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
    BEGIN
        PERFORM pg_notify('messenger_messages', NEW.queue_name::text);
        RETURN NEW;
    END;
$$;


ALTER FUNCTION public.notify_messenger_messages() OWNER TO symfony;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: contacto; Type: TABLE; Schema: public; Owner: symfony
--

CREATE TABLE public.contacto (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    telefono character varying(100) NOT NULL,
    mensaje text NOT NULL,
    fecha timestamp(0) without time zone NOT NULL
);


ALTER TABLE public.contacto OWNER TO symfony;

--
-- Name: contacto_id_seq; Type: SEQUENCE; Schema: public; Owner: symfony
--

CREATE SEQUENCE public.contacto_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.contacto_id_seq OWNER TO symfony;

--
-- Name: estado; Type: TABLE; Schema: public; Owner: symfony
--

CREATE TABLE public.estado (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL
);


ALTER TABLE public.estado OWNER TO symfony;

--
-- Name: estado_id_seq; Type: SEQUENCE; Schema: public; Owner: symfony
--

CREATE SEQUENCE public.estado_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.estado_id_seq OWNER TO symfony;

--
-- Name: libro; Type: TABLE; Schema: public; Owner: symfony
--

CREATE TABLE public.libro (
    id integer NOT NULL,
    titulo character varying(200) NOT NULL,
    autor character varying(100) NOT NULL,
    genero character varying(50) NOT NULL,
    sinopsis text NOT NULL,
    imagen character varying(255) DEFAULT NULL::character varying
);


ALTER TABLE public.libro OWNER TO symfony;

--
-- Name: libro_en_lista; Type: TABLE; Schema: public; Owner: symfony
--

CREATE TABLE public.libro_en_lista (
    id integer NOT NULL,
    lista_lectura_id integer NOT NULL,
    libro_id integer NOT NULL,
    estadolectura character varying(30) NOT NULL
);


ALTER TABLE public.libro_en_lista OWNER TO symfony;

--
-- Name: libro_en_lista_id_seq; Type: SEQUENCE; Schema: public; Owner: symfony
--

CREATE SEQUENCE public.libro_en_lista_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.libro_en_lista_id_seq OWNER TO symfony;

--
-- Name: libro_id_seq; Type: SEQUENCE; Schema: public; Owner: symfony
--

CREATE SEQUENCE public.libro_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.libro_id_seq OWNER TO symfony;

--
-- Name: lista_lectura; Type: TABLE; Schema: public; Owner: symfony
--

CREATE TABLE public.lista_lectura (
    id integer NOT NULL,
    usuario_id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    fecha_creacion timestamp(0) without time zone NOT NULL
);


ALTER TABLE public.lista_lectura OWNER TO symfony;

--
-- Name: COLUMN lista_lectura.fecha_creacion; Type: COMMENT; Schema: public; Owner: symfony
--

COMMENT ON COLUMN public.lista_lectura.fecha_creacion IS '(DC2Type:datetime_immutable)';


--
-- Name: lista_lectura_id_seq; Type: SEQUENCE; Schema: public; Owner: symfony
--

CREATE SEQUENCE public.lista_lectura_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.lista_lectura_id_seq OWNER TO symfony;

--
-- Name: messenger_messages; Type: TABLE; Schema: public; Owner: symfony
--

CREATE TABLE public.messenger_messages (
    id bigint NOT NULL,
    body text NOT NULL,
    headers text NOT NULL,
    queue_name character varying(190) NOT NULL,
    created_at timestamp(0) without time zone NOT NULL,
    available_at timestamp(0) without time zone NOT NULL,
    delivered_at timestamp(0) without time zone DEFAULT NULL::timestamp without time zone
);


ALTER TABLE public.messenger_messages OWNER TO symfony;

--
-- Name: COLUMN messenger_messages.created_at; Type: COMMENT; Schema: public; Owner: symfony
--

COMMENT ON COLUMN public.messenger_messages.created_at IS '(DC2Type:datetime_immutable)';


--
-- Name: COLUMN messenger_messages.available_at; Type: COMMENT; Schema: public; Owner: symfony
--

COMMENT ON COLUMN public.messenger_messages.available_at IS '(DC2Type:datetime_immutable)';


--
-- Name: COLUMN messenger_messages.delivered_at; Type: COMMENT; Schema: public; Owner: symfony
--

COMMENT ON COLUMN public.messenger_messages.delivered_at IS '(DC2Type:datetime_immutable)';


--
-- Name: messenger_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: symfony
--

CREATE SEQUENCE public.messenger_messages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.messenger_messages_id_seq OWNER TO symfony;

--
-- Name: messenger_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: symfony
--

ALTER SEQUENCE public.messenger_messages_id_seq OWNED BY public.messenger_messages.id;


--
-- Name: review; Type: TABLE; Schema: public; Owner: symfony
--

CREATE TABLE public.review (
    id integer NOT NULL,
    libro_id integer NOT NULL,
    usuario_id integer NOT NULL,
    contenido text NOT NULL,
    valoracion integer NOT NULL,
    fecha_creacion timestamp(0) without time zone NOT NULL
);


ALTER TABLE public.review OWNER TO symfony;

--
-- Name: COLUMN review.fecha_creacion; Type: COMMENT; Schema: public; Owner: symfony
--

COMMENT ON COLUMN public.review.fecha_creacion IS '(DC2Type:datetime_immutable)';


--
-- Name: review_id_seq; Type: SEQUENCE; Schema: public; Owner: symfony
--

CREATE SEQUENCE public.review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.review_id_seq OWNER TO symfony;

--
-- Name: user; Type: TABLE; Schema: public; Owner: symfony
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    estado_id integer NOT NULL,
    email character varying(180) NOT NULL,
    roles json NOT NULL,
    password character varying(255) NOT NULL,
    name character varying(100) NOT NULL,
    token character varying(100) DEFAULT NULL::character varying
);


ALTER TABLE public."user" OWNER TO symfony;

--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: symfony
--

CREATE SEQUENCE public.user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_id_seq OWNER TO symfony;

--
-- Name: messenger_messages id; Type: DEFAULT; Schema: public; Owner: symfony
--

ALTER TABLE ONLY public.messenger_messages ALTER COLUMN id SET DEFAULT nextval('public.messenger_messages_id_seq'::regclass);


--
-- Data for Name: contacto; Type: TABLE DATA; Schema: public; Owner: symfony
--

COPY public.contacto (id, name, email, telefono, mensaje, fecha) FROM stdin;
\.


--
-- Data for Name: estado; Type: TABLE DATA; Schema: public; Owner: symfony
--

COPY public.estado (id, nombre) FROM stdin;
1	Pendiente
2	Verificado
\.


--
-- Data for Name: libro; Type: TABLE DATA; Schema: public; Owner: symfony
--



--
-- Data for Name: libro_en_lista; Type: TABLE DATA; Schema: public; Owner: symfony
--

COPY public.libro_en_lista (id, lista_lectura_id, libro_id, estadolectura) FROM stdin;
1	1	49	pendiente
\.


--
-- Data for Name: lista_lectura; Type: TABLE DATA; Schema: public; Owner: symfony
--

COPY public.lista_lectura (id, usuario_id, nombre, fecha_creacion) FROM stdin;
1	1	ficcion	2025-06-05 17:05:25
\.


--
-- Data for Name: messenger_messages; Type: TABLE DATA; Schema: public; Owner: symfony
--

COPY public.messenger_messages (id, body, headers, queue_name, created_at, available_at, delivered_at) FROM stdin;
\.


--
-- Data for Name: review; Type: TABLE DATA; Schema: public; Owner: symfony
--



--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: symfony
--



--
-- Name: contacto_id_seq; Type: SEQUENCE SET; Schema: public; Owner: symfony
--

SELECT pg_catalog.setval('public.contacto_id_seq', 1, false);


--
-- Name: estado_id_seq; Type: SEQUENCE SET; Schema: public; Owner: symfony
--

SELECT pg_catalog.setval('public.estado_id_seq', 2, true);


--
-- Name: libro_en_lista_id_seq; Type: SEQUENCE SET; Schema: public; Owner: symfony
--

SELECT pg_catalog.setval('public.libro_en_lista_id_seq', 1, true);


--
-- Name: libro_id_seq; Type: SEQUENCE SET; Schema: public; Owner: symfony
--

SELECT pg_catalog.setval('public.libro_id_seq', 49, true);


--
-- Name: lista_lectura_id_seq; Type: SEQUENCE SET; Schema: public; Owner: symfony
--

SELECT pg_catalog.setval('public.lista_lectura_id_seq', 1, true);


--
-- Name: messenger_messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: symfony
--

SELECT pg_catalog.setval('public.messenger_messages_id_seq', 1, false);


--
-- Name: review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: symfony
--

SELECT pg_catalog.setval('public.review_id_seq', 2, true);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: symfony
--

SELECT pg_catalog.setval('public.user_id_seq', 3, true);


--
-- Name: contacto contacto_pkey; Type: CONSTRAINT; Schema: public; Owner: symfony
--

ALTER TABLE ONLY public.contacto
    ADD CONSTRAINT contacto_pkey PRIMARY KEY (id);


--
-- Name: estado estado_pkey; Type: CONSTRAINT; Schema: public; Owner: symfony
--

ALTER TABLE ONLY public.estado
    ADD CONSTRAINT estado_pkey PRIMARY KEY (id);


--
-- Name: libro_en_lista libro_en_lista_pkey; Type: CONSTRAINT; Schema: public; Owner: symfony
--

ALTER TABLE ONLY public.libro_en_lista
    ADD CONSTRAINT libro_en_lista_pkey PRIMARY KEY (id);


--
-- Name: libro libro_pkey; Type: CONSTRAINT; Schema: public; Owner: symfony
--

ALTER TABLE ONLY public.libro
    ADD CONSTRAINT libro_pkey PRIMARY KEY (id);


--
-- Name: lista_lectura lista_lectura_pkey; Type: CONSTRAINT; Schema: public; Owner: symfony
--

ALTER TABLE ONLY public.lista_lectura
    ADD CONSTRAINT lista_lectura_pkey PRIMARY KEY (id);


--
-- Name: messenger_messages messenger_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: symfony
--

ALTER TABLE ONLY public.messenger_messages
    ADD CONSTRAINT messenger_messages_pkey PRIMARY KEY (id);


--
-- Name: review review_pkey; Type: CONSTRAINT; Schema: public; Owner: symfony
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT review_pkey PRIMARY KEY (id);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: symfony
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: idx_2adc740cdb38439e; Type: INDEX; Schema: public; Owner: symfony
--

CREATE INDEX idx_2adc740cdb38439e ON public.lista_lectura USING btree (usuario_id);


--
-- Name: idx_75ea56e016ba31db; Type: INDEX; Schema: public; Owner: symfony
--

CREATE INDEX idx_75ea56e016ba31db ON public.messenger_messages USING btree (delivered_at);


--
-- Name: idx_75ea56e0e3bd61ce; Type: INDEX; Schema: public; Owner: symfony
--

CREATE INDEX idx_75ea56e0e3bd61ce ON public.messenger_messages USING btree (available_at);


--
-- Name: idx_75ea56e0fb7336f0; Type: INDEX; Schema: public; Owner: symfony
--

CREATE INDEX idx_75ea56e0fb7336f0 ON public.messenger_messages USING btree (queue_name);


--
-- Name: idx_794381c6c0238522; Type: INDEX; Schema: public; Owner: symfony
--

CREATE INDEX idx_794381c6c0238522 ON public.review USING btree (libro_id);


--
-- Name: idx_794381c6db38439e; Type: INDEX; Schema: public; Owner: symfony
--

CREATE INDEX idx_794381c6db38439e ON public.review USING btree (usuario_id);


--
-- Name: idx_8d93d6499f5a440b; Type: INDEX; Schema: public; Owner: symfony
--

CREATE INDEX idx_8d93d6499f5a440b ON public."user" USING btree (estado_id);


--
-- Name: idx_9232453fab6d1e73; Type: INDEX; Schema: public; Owner: symfony
--

CREATE INDEX idx_9232453fab6d1e73 ON public.libro_en_lista USING btree (lista_lectura_id);


--
-- Name: idx_9232453fc0238522; Type: INDEX; Schema: public; Owner: symfony
--

CREATE INDEX idx_9232453fc0238522 ON public.libro_en_lista USING btree (libro_id);


--
-- Name: uniq_identifier_email; Type: INDEX; Schema: public; Owner: symfony
--

CREATE UNIQUE INDEX uniq_identifier_email ON public."user" USING btree (email);


--
-- Name: messenger_messages notify_trigger; Type: TRIGGER; Schema: public; Owner: symfony
--

CREATE TRIGGER notify_trigger AFTER INSERT OR UPDATE ON public.messenger_messages FOR EACH ROW EXECUTE FUNCTION public.notify_messenger_messages();


--
-- Name: lista_lectura fk_2adc740cdb38439e; Type: FK CONSTRAINT; Schema: public; Owner: symfony
--

ALTER TABLE ONLY public.lista_lectura
    ADD CONSTRAINT fk_2adc740cdb38439e FOREIGN KEY (usuario_id) REFERENCES public."user"(id);


--
-- Name: review fk_794381c6c0238522; Type: FK CONSTRAINT; Schema: public; Owner: symfony
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT fk_794381c6c0238522 FOREIGN KEY (libro_id) REFERENCES public.libro(id);


--
-- Name: review fk_794381c6db38439e; Type: FK CONSTRAINT; Schema: public; Owner: symfony
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT fk_794381c6db38439e FOREIGN KEY (usuario_id) REFERENCES public."user"(id);


--
-- Name: user fk_8d93d6499f5a440b; Type: FK CONSTRAINT; Schema: public; Owner: symfony
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT fk_8d93d6499f5a440b FOREIGN KEY (estado_id) REFERENCES public.estado(id);


--
-- Name: libro_en_lista fk_9232453fab6d1e73; Type: FK CONSTRAINT; Schema: public; Owner: symfony
--

ALTER TABLE ONLY public.libro_en_lista
    ADD CONSTRAINT fk_9232453fab6d1e73 FOREIGN KEY (lista_lectura_id) REFERENCES public.lista_lectura(id);


--
-- Name: libro_en_lista fk_9232453fc0238522; Type: FK CONSTRAINT; Schema: public; Owner: symfony
--

ALTER TABLE ONLY public.libro_en_lista
    ADD CONSTRAINT fk_9232453fc0238522 FOREIGN KEY (libro_id) REFERENCES public.libro(id);


--
-- PostgreSQL database dump complete
--

