<footer class="px-5 py-10 mt-10 bg-neutral-900">
    <div class="flex gap-5 max-md:flex-col">
      <div class="w-3/12 max-md:ml-0 max-md:w-full">
        <h3 class="mb-5">Sobre BUBOOKS</h3>
        <a class="mb-2.5 no-underline text-neutral-400">Quiénes somos</a>
        <a class="mb-2.5 no-underline text-neutral-400">Contacto</a>
        <a class="mb-2.5 no-underline text-neutral-400">Blog</a>
      </div>
      <div class="ml-5 w-3/12 max-md:ml-0 max-md:w-full">
        <h3 class="mb-5">Ayuda</h3>
        <a class="mb-2.5 no-underline text-neutral-400">Centro de ayuda</a>
        <a class="mb-2.5 no-underline text-neutral-400">FAQ</a>
      </div>
      <div class="ml-5 w-3/12 max-md:ml-0 max-md:w-full">
        <h3 class="mb-5">Legal</h3>
        <a class="mb-2.5 no-underline text-neutral-400">Privacidad</a>
        <a class="mb-2.5 no-underline text-neutral-400">Términos</a>
      </div>
      <div class="ml-5 w-3/12 max-md:ml-0 max-md:w-full">
        <h3 class="mb-5">Síguenos</h3>
        <div class="flex gap-5">
          <a class="no-underline text-neutral-400">Facebook</a>
          <a class="no-underline text-neutral-400">Twitter</a>
          <a class="no-underline text-neutral-400">Instagram</a>
        </div>
      </div>
    </div>
  </footer>