<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo -->
    <div class="navbar-logo">
      <a routerLink="/">BUBOOKS</a>
    </div>
    
    <!-- Hamburger menu para móviles -->
    <div class="menu-toggle" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    
    <!-- Menú de navegación -->
    <div class="navbar-menu" [ngClass]="{'active': isMenuOpen}">
      <ul class="navbar-links">
        <li><a routerLink="/libros" routerLinkActive="active" (click)="isMenuOpen = false">Libros</a></li>
        <li><a routerLink="/resenas" routerLinkActive="active" (click)="isMenuOpen = false">Reseñas</a></li>
        <li><a routerLink="/registrarse" routerLinkActive="active" (click)="isMenuOpen = false">Registrarse</a></li>
        <li><a routerLink="/login" routerLinkActive="active" (click)="isMenuOpen = false">Iniciar sesión</a></li>
      </ul>
    </div>
  </div>
</nav>