<div class="w-full text-center p-4 bg-green-500 border border-gray-200 shadow-sm sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h1 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">Welcome to the Landing Page</h1>
    
    <button 
      routerLink="/tasks" 
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
      Click me
    </button>

    <button 
      routerLink="/registro" 
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
      Registro
    </button>

    <button 
    routerLink="/home" 
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
    homepage
  </button>

  <button 
    routerLink="/detalles" 
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
    detalles
  </button>

</div>
